<h2>Bienvenido al juego del ahorcado!</h2>

<img src="/ahorcado.jpg">
<form action="/jugar" method="post">
	<input type="text" name="nombre">
	<button type="submit" name="jugar">Jugar!</button>
</form>