<h1>Intentos restantes: <%= @intentos %></h1>
<br>
<%=@palabra%>
<form action="/jugar" method="post">
<input type="text" name="letra" maxlength="1">
<input type="hidden" name="nombre" value=<%=@nombre%>>
<button>Jugar</button>
</form>

<button>Pista</button>
