<h1>Ponga la palabra secreta con la que quiere jugar</h1>

<form action="/entrar_palabra" method="post">
	<input type="text" name="palabra">
	<button type="submit" name="anadir">Anadir</button>
</form>